In [14]:
from __future__ import print_function
import os
data_path = ['data']

In [15]:
import pandas as pd

# Import the data using the file path
filepath = os.sep.join(data_path + ['cirrhosis.csv'])
data = pd.read_csv('cirrhosis.csv')
data

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,681,D,NaN,24472,F,NaN,NaN,NaN,N,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0
414,415,1103,C,NaN,14245,F,NaN,NaN,NaN,N,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0
415,416,1055,C,NaN,20819,F,NaN,NaN,NaN,N,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0
416,417,691,C,NaN,21185,F,NaN,NaN,NaN,N,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0
417,418,976,C,NaN,19358,F,NaN,NaN,NaN,N,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0

In [16]:
data.head(1).T

                             0
ID                           1
N_Days                     400
Status                       D
Drug           D-penicillamine
Age                      21464
Sex                          F
Ascites                      Y
Hepatomegaly                 Y
Spiders                      Y
Edema                        Y
Bilirubin                 14.5
Cholesterol              261.0
Albumin                    2.6
Copper                   156.0
Alk_Phos                1718.0
SGOT                    137.95
Tryglicerides            172.0
Platelets                190.0
Prothrombin               12.2
Stage                      4.0

In [17]:
# Remove extraneous columns
data.drop(['ID','N_Days','Age','Bilirubin','Cholesterol','Albumin','Copper','Alk_Phos','SGOT','Tryglicerides','Platelets','Prothrombin'], axis=1, inplace=True)
data

    Status             Drug Sex Ascites Hepatomegaly Spiders Edema  Stage
0        D  D-penicillamine   F       Y            Y       Y     Y    4.0
1        C  D-penicillamine   F       N            Y       Y     N    3.0
2        D  D-penicillamine   M       N            N       N     S    4.0
3        D  D-penicillamine   F       N            Y       Y     S    4.0
4       CL          Placebo   F       N            Y       Y     N    3.0
..     ...              ...  ..     ...          ...     ...   ...    ...
413      D              NaN   F     NaN          NaN     NaN     N    3.0
414      C              NaN   F     NaN          NaN     NaN     N    4.0
415      C              NaN   F     NaN          NaN     NaN     N    3.0
416      C              NaN   F     NaN          NaN     NaN     N    3.0
417      C              NaN   F     NaN          NaN     NaN     N    4.0

[418 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in ['Sex','Ascites',]:
    data[col] = le.fit_transform(data[col])